{
    "host": "localhost",
    "user": "root",
    "database": "blog",
    "password": "123456",
    "port": "3306",
    "waitForConnections": true,
    "connectionLimit": 10,
    "adminPassword": "your-admin-password",
    "jwtSecret": "your-random-secret-string",
    "email": {
        "user": "your-email@qq.com",
        "pass": "your-smtp-auth-code",
        "to": "your-email@qq.com"
    }
}